<footer class="spartan-footer">
    <div class="footer-logo">velo</div>
    <div class="footer-menu">
      <a href="#">nossa história</a>
      <a href="#">contato</a>
      <a href="#">sobre</a>
      <a href="#">suporte</a>
    </div>
    <div class="footer-social">
      <a href="#">instagram</a>
      <a href="#">facebook</a>
      <a href="#">twitter</a>
      <a href="#">youtube</a>
      <a href="#">linkedin</a>
    </div>
    <button class="download-app">baixar app</button>
  </footer>
  