.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    font-family: "Inter", sans-serif;
    border-radius: 100px;
    width: 75%;
    height: 3.5rem;
    margin: 1rem auto 2rem auto;
    -webkit-box-shadow: 0px 0px 25px -7px #000000cb;
    box-shadow: 0px 0px 25px -7px #000000cb;
  }

  .logo {
    font-weight: 700;
    font-size: 1.3rem;
    color: #00e676;
  }

  .image-velo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 9rem;
  }

  .menu {
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 3rem;
    font-weight: 700;
    font-size: 1rem;
  }

  .menu li a {
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: black;
    border-radius: 1.6rem;
    transition: all 0.4s ease-in-out;
  }

  .menu li a.active,
  .menu li a:hover {
    transition: all 0.4s ease-in-out;
    background-color: #40FF78;
    color: black;
    padding: 1rem;
    border-radius: 1.6rem;
    -webkit-box-shadow: 0px 10px 22px -5px rgba(0,0,0,0.37);
    box-shadow: 0px 10px 22px -5px rgba(0,0,0,0.37);
  }

