.about-section {
  margin-left: 50px;

  padding: 6rem 0;
  position: relative;
  overflow: hidden;
}

.content-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 2;
}

.text-content {
  flex: 1;
  max-width: 50%;
}

.text-content h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.text-content p {
  font-size: 1.1rem;
  line-height: 1.7;
  color: #555;
}
