:host {
  --brand-green: #40ff78;
  --brand-blue-green: #20deb2;
  --brand-blue: #00c6ff;
  --brand-dark-blue: #007bff;
  --text-color: #333;
  --input-border: #e0e0e0;
  --input-placeholder: #999;
  --background-color: #ffffff;
  display: block;
  position: relative;
  overflow-x: hidden;
}

.about-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 160px);
  padding: 4rem 2rem;
  background-color: var(--background-color);
  position: relative;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

.circle-large-outline {
  position: absolute;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: linear-gradient(210deg, var(--brand-green), var(--brand-blue-green));
  top: 20px;
  right: -270px;
  opacity: 0.8;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: '';
    display: block;
    width: calc(100% - 155px);
    height: calc(100% - 155px);
    background: var(--background-color);
    border-radius: 50%;
  }
}

.circle-medium-solid {
  position: absolute;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--brand-blue), var(--brand-dark-blue));
  top: 520px;
  right: 9%;
  z-index: 0;
}

.circle-small-solid {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(90deg, var(--brand-blue), var(--brand-dark-blue));
  top: 200px;
  right: 16%;
  z-index: 0;
}

.about-content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 400px;
}

h1 {
  font-size: 4.5rem;
  display: flex;
  font-weight: 700;
  align-items: left;
  justify-content: left;
  padding-bottom: 20px;
}

.about-content p {
  font-size: 1.9rem;
  text-align: left;
  line-height: 1.8;
}

@media (max-width: 900px) {
  .about-container {
    justify-content: center;
    padding-top: 2rem;
  }

  .about-content {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 90%;
  }

  .headings {
    text-align: center;

    h1 {
      justify-content: center;
    }
  }

  .about-content p {
    text-align: center;
  }
}
