<footer class="footer">
  <div class="footer-content">
    <div class="footer-column">
      <img class="image-velo" src="/assets/velo-white-footer.png" alt="Logo Velo">
      <p>© 2025 velo-projects</p>
      <p>todos os direitos reservados</p>
      <p><a href="#">política de privacidade</a></p>
    </div>

    <div class="footer-column">
      <h3>MENU</h3>
      <ul>
        <li><a href="#">nossa história</a></li>
        <li><a href="#">contato</a></li>
        <li><a href="#">sobre</a></li>
        <li><a href="#">suporte</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>SEGUIR</h3>
      <ul class="social-icons-list">
        <li>
          <a href="#">
             <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </a>
        </li>
        <li>
          <a href="#">
            <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          </a>
        </li>
        <li>
          <a href="#">
           <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          </a>
        </li>
        <li>
          <a href="#">
            <li><a href="#"><i class="fab fa-github"></i> Github</a></li>
          </a>
        </li>
        <li>
          <a href="#">
            <li><a href="#"><i class="fab fa-linkedin"></i> Linkedin</a></li>
          </a>
        </li>
      </ul>
    </div>

    <div class="footer-column">
      <h3>BAIXE AGORA</h3>
      <a href="#">
        <img src="/assets/appstore.svg" alt="Download on the App Store" />
      </a>
      <br>
      <a href="#">
        <img src="/assets/googleplay.svg" alt="Get it on Google Play" />
      </a>
    </div>
  </div>
</footer>
