.support-container {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  text-align: center;
}

h1 {
  font-size: normal;
  font-weight: 700;
  color: var(--dark-gray2);
  margin-bottom: 50px;
  margin-top: 50px;
}

.search-bar {
  position: relative;
  left: 12.3%;
  width: 100%;
  max-width: 600px;
  margin-bottom: 80px;

  input {
    height: 50px;
    width: 100%;
    padding: 15px 20px 15px 60px; // Espaço para o ícone
    border-radius: 50px;
    border: 1px solid #e0e0e0;
    font-size: 1.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);

    &:focus {
      outline: none;
      border-color: var(--dark-blue);
      box-shadow: 0 4px 15px rgba(0, 123, 255, 0.1);
    }
  }

  .search-icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    color: var(--gray);
  }
}

.topics-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  width: 100%;
  margin-bottom: 40px;
}

.topic-card {
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
  text-align: left;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  }

  .card-image-placeholder {
    background-color: black;
    color: white;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: normal;
    font-weight: 500;
    letter-spacing: 2px;
  }

  .card-content {
    padding: 25px;

    h3 {
      font-size: normal;
      font-weight: 700;
      color: var(--dark);
      margin: 0 0 8px 0;
    }

    p {
      font-size: normal;
      color: var(--dark-gray);
      line-height: 1.5;
      margin: 0;
    }
  }
}

.action-button {
  margin-top: 50px;
  margin-bottom: 80px;
  background-color: var(--blue);
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 15px 35px;
  font-size: normal;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 5px 15px rgba(0, 123, 255, 0.2);

  &:hover {
    background-color: var(--dark-blue);
    transform: scale(1.05);
  }
}

// Media Query para Responsividade
@media (max-width: 768px) {
  .topics-grid {
    grid-template-columns: 1fr; // Uma coluna em telas menores
  }

  h1 {
    font-size: normal;
  }
}
