@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --green: #40FF78;
  --dark: #23272A;
  --blue: #007bff;
  --gray: #999;
  --light-gray: #e0e0e0;
  --dark-blue: #0056b3;
  --dark-gray: #666;
  --dark-gray2: #333;
  --bg: #FDFEF6;
}


*{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
  }
